<div class="container-fluid p-5">
  <div class="row mb-5">
    <div class="col-md-8">
      <h1>Articles</h1>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" placeholder="Search article by title" class="form-control" />
      </div>
    </div>
  </div>
  <% if @error_message.present? %>
    <p><%= @error_message %></p>
  <% else %>
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-3 mb-3">
          <div class="card" style="">
            <img src="<%= article.fetch("urlToImage") %>" class="card-img-top" alt="<%= article.fetch("title") %>">
            <div class="card-body">
              <h5 class="card-title"><%= article.fetch("title") %></h5>
              <p class="card-text"><%= article.fetch("description") %></p>
              <a href="<%= article.fetch("url") %>" class="btn btn-primary" target="_blank">Read more...</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>